<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/assets/css/forum.css">
</head>
<body class="dark-mode">
<div class="main-container">
    <aside class="sidebar">
        <div class="logo-container">
            <img src="/assets/images/logo.png" alt="Logo" class="logo">
            <h1>Forum</h1>
        </div>
        <nav>
            <ul>
                <li><a href="forum.html"><img src="/assets/images/home.png" alt="Accueil" class="icon"> Accueil</a></li>
                <li><a href="profil.html"><img src="/assets/images/profil.png" alt="Profil" class="icon"> Profil</a></li>
                <li><a href="postajout.html"><img src="/assets/images/addposte.png" alt="Ajouter un Post" class="icon"> Ajouter un Post</a></li>
                <li><button id="toggleMode"><img src="/assets/images/sombreclair.png" alt="Mode" class="icon"> Mode Sombre/Clair</button></li>
                <li><a href="parametre.html"><img src="/assets/images/parametre.png" alt="Paramètres" class="icon"> Paramètres</a></li>
                <li><a href="login.html"><img src="/assets/images/deconnexion.png" alt="Déconnexion" class="icon"> Déconnexion</a></li>
            </ul>
        </nav>
    </aside>
    <main class="content">
        <div class="tabs">
            <button class="tablink active" onclick="openTab(event, 'latest')">Derniers Posts</button>
            <button class="tablink" onclick="openTab(event, 'featured')">À la Une</button>
            <button class="tablink" onclick="openTab(event, 'popular')">Posts Populaires</button>
        </div>
        <div id="latest" class="tabcontent">
            <div class="feed-section">
                <h2>Derniers Posts</h2>
                {{ range .RecentPosts }}
                <div class="post">{{ .Title }}</div>
                {{ end }}
            </div>
        </div>
        <div id="featured" class="tabcontent" style="display:none">
            <div class="feed-section">
                <h2>À la Une</h2>
                {{ range .UnePosts }}
                <div class="post">{{ .Title }}</div>
                {{ end }}
            </div>
        </div>
        <div id="popular" class="tabcontent" style="display:none">
            <div class="feed-section">
                <h2>Posts Populaires</h2>
                {{ range .TopPosts }}
                <div class="post">{{ .Title }}</div>
                {{ end }}

            </div>
        </div>
    </main>
</div>
</body>
</html>
<script src="../js/forum.js" defer></script>
<script>
    //TODO A FIX TOM
    function openTab(evt, tabName) {
        // Déclaration de toutes les variables
        let i, tabcontent, tablinks;

        // Récupère tous les éléments avec la classe "tabcontent" et les cache
        tabcontent = document.getElementsByClassName('tabcontent');
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = 'none';
        }

        // Récupère tous les éléments avec la classe "tablink" et enlève la classe "active"
        tablinks = document.getElementsByClassName('tablink');
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(' active', '');
        }

        // Affiche l'onglet courant, et ajoute une classe "active" au bouton qui a ouvert l'onglet
        document.getElementById(tabName).style.display = 'block';
        evt.currentTarget.className += ' active';
    }

    // Définit l'onglet par défaut (Derniers Posts)
    document.querySelector('.tablink.active').click();
</script>