<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post - Urbex</title>
    <link rel="stylesheet" href="/assets/css/viewpost.css">
</head>
<body>
<video autoplay muted loop id="bgVideo">
    <source src="/assets/video/videofondpost.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
</video>
<a href="/" class="button">Retour au Forum</a>
<div class="post-container">

    <h1>{{ .Post.Title }}</h1>
    <div class="post-content">
        <div class="post-images">
            <button class="carousel-prev" onclick="changeCarouselImage(-1)">&#10094;</button>
            <div id="frame">
                <div id="carousel">
                    {{ range .Post.Photos }}
                    <img class="carousel-image" src="./assets/storage/{{ . }}" alt="">
                    {{ end }}
                </div>
            </div>
            <button class="carousel-next" onclick="changeCarouselImage(1)">&#10095;</button>
        </div>
        <div class="post-description">
            <p>{{ .Post.Description }}</p>
        </div>
        de <a href="/viewpost?email={{ .Post.Author.Email }}">{{ .Post.Author.Pseudo }}</a> le {{ .Post.Date }} <br>
        🌸 {{ .Post.Beauty }} <br>
        ☠️ {{ .Post.Danger }} <br>
        Dans {{ range .Post.Categories }} {{ .Nom }}, {{ end }}

        <div class="post-actions">
            <span id="like-count">{{ .Post.Like }}</span>
            <button id="like-button" onclick="handleLike({{ .Post.Id }})" class="{{if .IsUserLiked}}liked{{end}}">
                <img src="/assets/images/likevide.png" id="like-button-img" alt="Like" class="action-button">
            </button>
            <span id="dislike-count">{{ .Post.Dislike }}</span>
            <button id="dislike-button" onclick="handleDislike({{ .Post.Id }})" class="{{if .IsUserDisliked}}disliked{{end}}">
                <img src="/assets/images/dislikevide.png" id="dislike-button-img" alt="Dislike" class="action-button">
            </button>
            <button class="comment-button" onclick="toggleComments()">
                <img src="/assets/images/comment.png" alt="Commentaire" class="action-button">
            </button>
        </div>
        <div class="comments-section" id="comments-section" style="display: none;">
            <h2>Commentaires</h2>
            {{ range $index, $comment := .Post.Comments }}
            <div class="comment">
                <p><strong>{{ $comment.Author.Pseudo }}:</strong> {{ $comment.Content }}</p>
            </div>
            {{ end }}
        </div>
        <form id="form-newcomment" action="/add-comment" method="GET">
            <div class="add-comment">
                <label for="new-comment">Ajouter un commentaire:</label>
                <textarea name="Content" id="new-comment" rows="4"></textarea>
                <input type="submit" class="submit-comment" value="Envoyer">
            </div>
        </form>
    </div>
</div>

<script src="/assets/js/post.js" defer></script>
<script>
    //Add postid for comment form
    const urlParams = new URLSearchParams(window.location.search);
    const paramValue = urlParams.get('PostId');
    let currentCarouselIndex = 0;
    // Sélectionner le formulaire par son ID
    const form = document.getElementById("form-newcomment");

    // Créer un nouvel élément input
    const hiddenInput = document.createElement('input');

    // Définir les attributs de l'input caché
    hiddenInput.type = 'hidden'; // Champ caché
    hiddenInput.name = 'PostId'; // Nom du champ, à remplacer par votre nom de champ souhaité
    hiddenInput.value = paramValue; // Valeur récupérée du paramètre de l'URL

    // Ajouter l'input caché au formulaire
    form.appendChild(hiddenInput);

    function toggleComments() {
        const commentsSection = document.getElementById('comments-section');
        commentsSection.style.display = (commentsSection.style.display === 'none' || commentsSection.style.display === '') ? 'block' : 'none';
    }

    function handleLike(postId) {
        fetch(`/likepost?id=${postId}`, { method: 'GET' })
            .then(response => {
                if (response.ok) {
                    const likeCountElement = document.getElementById('like-count');
                    const currentCount = parseInt(likeCountElement.textContent);
                    likeCountElement.textContent = currentCount + 1;
                    document.getElementById('like-button').disabled = true;
                    document.getElementById('like-button-img').src = "/assets/images/like.png";
                    document.getElementById('dislike-button').disabled = true;
                } else {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function handleDislike(postId) {
        fetch(`/dislikepost?id=${postId}`, { method: 'GET' })
            .then(response => {
                if (response.ok) {
                    const dislikeCountElement = document.getElementById('dislike-count');
                    const currentCount = parseInt(dislikeCountElement.textContent);
                    dislikeCountElement.textContent = currentCount + 1;
                    document.getElementById('dislike-button-img').src = "/assets/images/dislike.png";

                    document.getElementById('like-button').disabled = true;
                    document.getElementById('dislike-button').disabled = true;
                } else {
                    throw new Error('Network response was not ok');
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function changeCarouselImage(direction) {
        const images = document.querySelectorAll('.carousel-image');
        images[currentCarouselIndex].style.display = 'none';
        currentCarouselIndex = (currentCarouselIndex + direction + images.length) % images.length;
        images[currentCarouselIndex].style.display = 'block';
    }

    document.addEventListener('DOMContentLoaded', () => {
        const images = document.querySelectorAll('.carousel-image');
        images[currentCarouselIndex].style.display = 'block';

        const isUserLiked = {{.IsUserLiked}};
        const isUserDisliked = {{.IsUserDisliked}};
        console.log(isUserLiked, isUserDisliked)
        if (isUserLiked) {
            document.getElementById('like-button-img').src = "/assets/images/like.png";
            document.getElementById('like-button').disabled = true;
            document.getElementById('dislike-button').disabled = true;
        }

        if (isUserDisliked) {
            document.getElementById('dislike-button-img').src = "/assets/images/dislike.png";
            document.getElementById('like-button').disabled = true;
            document.getElementById('dislike-button').disabled = true;
        }
    });
</script>
</body>
</html>
